<po-widget p-title="Informações Operacionais">
  <div class="operacao-info">
    <po-input name="ct" p-label="CT" [p-readonly]="true" [ngModel]="operacao?.ct ?? ''"></po-input>
    <po-input
      name="grupoMaquina"
      p-label="Grupo Máquina"
      [p-readonly]="true"
      [ngModel]="operacao?.grupoMaquina ?? ''"
    ></po-input>
    <po-select
      name="tipoResponsavel"
      p-label="Reportar por"
      [p-options]="tipoOptions"
      [p-disabled]="responsavelDisabled"
      [ngModel]="tipoResponsavel"
      (ngModelChange)="tipoResponsavelChange.emit($event)"
    ></po-select>
    <po-select
      name="responsavelOperacao"
      [p-label]="tipoResponsavel === 'OPERADOR' ? 'Operador' : 'Equipe'"
      [p-options]="responsavelOptions"
      [p-disabled]="responsavelDisabled"
      [ngModel]="responsavelCodigo"
      (ngModelChange)="responsavelChange.emit($event)"
    ></po-select>
    <po-input name="turno" p-label="Turno" [p-readonly]="true" [ngModel]="operacao?.turno ?? ''"></po-input>
  </div>
</po-widget>
