<po-widget p-title="Dados da Ordem">
  <div class="op-detalhes">
    <po-input name="item" p-label="Item" [p-readonly]="true" [ngModel]="operacao?.item ?? ''"></po-input>
    <po-input name="descricao" p-label="Descrição" [p-readonly]="true" [ngModel]="operacao?.descricao ?? ''"></po-input>
    <po-input name="unidade" p-label="Unidade" [p-readonly]="true" [ngModel]="operacao?.unidade ?? ''"></po-input>
    <po-input name="roteiro" p-label="Roteiro" [p-readonly]="true" [ngModel]="operacao?.roteiro ?? ''"></po-input>
    <po-input
      name="quantidadeOrdem"
      p-label="Qtde Ordem"
      [p-readonly]="true"
      [ngModel]="operacao?.quantidadeOrdem ?? ''"
    ></po-input>
    <po-input
      name="quantidadeSaldo"
      p-label="Qtde Saldo"
      [p-readonly]="true"
      [ngModel]="operacao?.quantidadeSaldo ?? ''"
    ></po-input>
    <po-input name="linha" p-label="Linha" [p-readonly]="true" [ngModel]="operacao?.linha ?? ''"></po-input>
  </div>
</po-widget>
