<po-widget p-title="Produção">
  <div class="producao-form">
    <po-datepicker
      name="dataInicio"
      p-label="Data Início"
      [p-disabled]="true"
      [ngModel]="operacao?.dataInicio"
    ></po-datepicker>

    <po-input
      name="horaInicio"
      p-label="Hora Início"
      [p-readonly]="true"
      [ngModel]="operacao?.horaInicio ?? ''"
    ></po-input>

    <po-datepicker
      name="dataFim"
      p-label="Data Fim"
      [p-disabled]="disabled"
      [ngModel]="operacao?.dataFim"
      (ngModelChange)="updateEndDate($event)"
    ></po-datepicker>

    <po-input
      name="horaFim"
      p-label="Hora Fim"
      p-placeholder="HH:mm"
      [p-disabled]="disabled"
      [ngModel]="operacao?.horaFim ?? ''"
      (ngModelChange)="update({ horaFim: $event })"
    ></po-input>

    <po-number
      name="quantidadeAprovada"
      p-label="Qtde Aprovada"
      [p-disabled]="disabled"
      [ngModel]="operacao?.quantidadeAprovada ?? 0"
      (ngModelChange)="update({ quantidadeAprovada: $event ?? 0 })"
    ></po-number>

    <div class="producao-form__with-action">
      <po-number
        name="quantidadeRetrabalho"
        p-label="Qtde Retrabalho"
        [p-disabled]="true"
        [ngModel]="operacao?.quantidadeRetrabalho ?? 0"
      ></po-number>
      <po-button
        p-label="Editar"
        p-kind="secondary"
        [p-disabled]="retrabalhoDisabled"
        (p-click)="editarRetrabalho.emit()"
      ></po-button>
    </div>

    <div class="producao-form__with-action">
      <po-number
        name="quantidadeRefugo"
        p-label="Qtde Refugo"
        [p-disabled]="true"
        [ngModel]="operacao?.quantidadeRefugo ?? 0"
      ></po-number>
      <po-button
        p-label="Editar"
        p-kind="secondary"
        [p-disabled]="refugoDisabled"
        (p-click)="editarRefugo.emit()"
      ></po-button>
    </div>
  </div>
</po-widget>
